.merriweather-3 {
    font-family: Merriweather, serif !important;
    color: #ada5ff;
    /* font-weight: bold; */
}

.achievement {
    font-size: 50px;
}

.signature-body {
    font-size: 13px;
}

.caveat {
    font-family: Caveat !important;
    color: #faadff
}

.certify {
    font-size: 14px
}

.course-name {
    font-size: 23px;
    color: #2e7dbd
}

.certificate-id {
    color: #5bb0f6;
}

.pass-percentage {
    color: #2e7dbd
}

.email {
    font-size: 11px;
}

#name3 {
    font-family: Yellowtail !important;
    color: #145e9c;
    /* font-weight: bold; */
    letter-spacing: 2px;
    font-size: 42px;
}